<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <title>Product List Demo</title>
    </h:head>

    <h:body>
		<h3>Product List Demo</h3>		
		<hr/>
		
		<ul>
			<ui:repeat var="tempProduct" value="#{productDataUtil.products}">
			
				<li>#{tempProduct.name} #{tempProduct.code}</li>					
			
			</ui:repeat>		
		</ul>
		
    </h:body>
</html>