<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Product Table Demo</title>

	<h:outputStylesheet library="css" name="product_table_demo.css"  />
</h:head>

<h:body>
	<h3>Product Table Demo</h3>

	<hr/>

	<br/>
	
	<h:dataTable value="#{productDataUtil.products}" var="tempProduct"
		styleClass="demo-table"
    			headerClass="demo-table-header"
    			rowClasses="demo-table-odd-row,demo-table-even-row"
		>
		
		<h:column>
			<!-- the column header -->
			<f:facet name="header">Name</f:facet>
			
			<!--  the value for each row -->
			#{tempProduct.name}
		</h:column>

		<h:column>
			<!-- the column header -->
			<f:facet name="header">Code</f:facet>
			
			<!--  the value for each row -->
			#{tempProduct.code}
		</h:column>

	</h:dataTable>

</h:body>
</html>