<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <title>Student List Demo</title>
    </h:head>

    <h:body>
		<h3>Student List Demo</h3>		
		<hr/>
		
		<ul>
			<ui:repeat var="tempStudent" value="#{studentDataUtil.students}">
					
				<li>#{tempStudent.firstName} #{tempStudent.lastName}</li>					
			
			</ui:repeat>		
		</ul>
		
    </h:body>
</html>